<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MABEME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/ingresar']" routerLinkActive="active"> 
                    Producto 
                </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/inventario']" routerLinkActive="active"> 
                    Inventario 
                </a>
            </li>
        </ul>
    </div>
    <!--
        #########################################################################################################
    -->
    <a class="navbar-brand hidden-md-down"></a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" [routerLink]="['/principal']" routerLinkActive="active" (click)="Logout()"> Logout </a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" [routerLink]="['/accounts/login']" routerLinkActive="active"> Login </a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" [routerLink]="['/accounts/register']" routerLinkActive="active"> Register </a>
        </li>
    </ul>

</nav>

<div *ngIf="!isLogged" class="fondo">
    <img class="fondo1" src="../../../assets/imagenes/fondo.jpg">
</div>