<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MABEME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/ingresar']" routerLinkActive="active"> 
                    Producto 
                </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/inventario']" routerLinkActive="active"> 
                    Inventario 
                </a>
            </li>
        </ul>
    </div>
    <!--
        #########################################################################################################
    -->
    <a class="navbar-brand hidden-md-down"></a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" [routerLink]="['/principal']" routerLinkActive="active" (click)="Logout()"> Logout </a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" [routerLink]="['/accounts/login']" routerLinkActive="active"> Login </a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" [routerLink]="['/accounts/register']" routerLinkActive="active"> Register </a>
        </li>
    </ul>
</nav>
<br>
<div class="container">
    <div class="card ">
        <div class="card-header">
            <h1 class="color">Invetario</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Editar o Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let listar of listarProductos; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>
                            {{listar.codigo}}
                        </td>
                        <td>
                            {{listar.nombre}}
                        </td>
                        <td>
                            {{listar.precio}}
                        </td>
                        <td>
                            <a class="btn btn-success" (click)="Editar(listar)" data-toggle="modal" data-target="#modalEdit">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" (click)="Delect(listar.$id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<bases-modal></bases-modal>